body {
    margin: 0;
    padding: 0;
    margin-right: 25%;
    margin-left: 25%;
    background-image: url('https://images.pexels.com/photos/768943/pexels-photo-768943.jpeg?cs=srgb&dl=bloom-blooming-cafe-768943.jpg&fm=jpg');
    background-size: 100vw;
    
}

/*
============================ Main Nav ==========================================
*/

nav {
    height: 80px;
    background: #fff;
    border-bottom: 2px solid #7a7a7a;
    margin-right: -50%;
    margin-left: -50%;

}

.nav{
   padding-top: 25px;
}

ul {
    display: inline;
    float: right;
    margin-right: 25%;
}

li {
    display: inline;
    text-decoration: none;
    list-style:  none;
    padding: 10px;
    font-size: 1em;
    color: #7a7a7a;
    font-family: Arial, Helvetica, sans-serif;
    transition: ease .4s;
}

li:hover {
    color: white;
    cursor: pointer;
    background: #2b8ec6;
    transition: ease .4s;
}

.item {
    border-right: 2px solid #7a7a7a;
}

h1 {
    background: #2b8ec6; 
    color: white;
    display: inline;
    padding: 29px;
    margin-left: 25%;
    font-family: Arial, Helvetica, sans-serif;
}

/*
============================ Main Content ==========================================
*/

.container {
    height: 700px;
    width: 1000px;
    background: #fff;
    margin-top: 45px;
    padding: 25px;
    border: 1px solid #2b8ec6;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    margin-left: 15px;
    font-size: 32px;
    color: #2b8ec6;
}

hr {
    height: 5px;
    color: #2b8ec6;
    background: #2b8ec6;
    border: none;
    width: 35vw;
}

.port-img {
    float: left;
    display: inline-block;
    margin-top: 25px;
    padding: 25px;
}

p {
    margin-top: 25px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 65px;
}

/*
============================ Footer ==========================================
*/

.footer {
    height: 100px;
    width: 100vw;
    background: #2b8ec6;
    position: fixed;
    bottom: 0;
    margin-left: -25%;
}

.footer p {
    color: white;
    text-align: center;
}