body {
    margin: 0;
    padding: 0;
    margin-right: 25%;
    margin-left: 25%;
}

nav {
    height: 80px;
    background: #fff;
    border-bottom: 2px solid #7a7a7a;
    margin-right: -50%;
    margin-left: -50%;

}

.nav{
   padding-top: 25px;
}

ul {
    display: inline;
    float: right;
    margin-right: 25%;
}

li {
    display: inline;
    text-decoration: none;
    list-style:  none;
    padding: 10px;
    font-size: 1em;
    color: #7a7a7a;
    font-family: Arial, Helvetica, sans-serif;
    transition: ease .4s;
}

li:hover {
    color: white;
    cursor: pointer;
    background: #2b8ec6;
    transition: ease .4s;
}

.item {
    border-right: 2px solid #7a7a7a;
}

h1 {
    background: #2b8ec6; 
    color: white;
    display: inline;
    padding: 29px;
    margin-left: 25%;
    font-family: Arial, Helvetica, sans-serif;
}